.row {
    margin-right: 0 !important;

}

h4 {
    padding-bottom: 1.5rem;
}

.nav-item a {
    color: white;
}

.btn {
    height: 35px;
}

.social i {
    color: white;

}

.footerMain {
    flex-direction: row;
}

/* Footer Responsive */
@media only Screen and(max-width: 660px) {
    .footerMain {
        display: flex;
        flex-direction: column;
    }

    .title {
        width: 100%;
    }
}