.main {
    text-align: center;
}

.titles {
    height: 35rem;
    background: url("../../Images/contactimg.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.titles h1 {
    color: orange;
    font-size: 5rem;
    font-weight: 600;
}

.titles h3 {
    color: orange;
    font-size: 3rem;
    font-weight: 500;
}

.section_clear {
    margin-left: -15px;
    margin-right: -15px;
}


input,
textarea {
    border: solid black 1px;
}

.btnn {
    border: solid;
    padding: 10px;
    width: 100px;
    border-radius: 10%;
    font-weight: 500;
}

.wpcf7-form {
    float: left;
    width: 100%;
}

.wpcf7-form-control-wrap textarea {
    width: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.hero-title {
    height: 650px;
}


/* Contact Page Responsive */
@media only screen and (max-width:600px) {
    .hero-title {
        height: 500px;
    }

    .titles {
        height: 30rem;
        background-attachment: local;
    }

    .titles h1 {
        font-size: 3rem;
        font-weight: 400;
    }

    .titles h3 {
        font-size: 2rem;
        font-weight: 350;
    }

    .sub-title h2.h1 {
        text-align: center;
        font-weight: 650;
        font-size: 1.5rem;
    }

    .section_clear {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    label {
        display: flow;
        text-align: center;
    }

    label input {
        display: flex;
        align-items: center;
        width: 20rem;
    }

    label span textarea {
        width: 20rem;
    }
}