.left_hero_section {
    width: 50%;
    /* padding: 5px 2px 3px 2px; */
    /* text-align: center; */
}

.get_info {
    margin-left: 1rem;
}

/* Contact Form */

.contactForm {
    background: url("../../../public/formBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 895.49px;
    margin-top: 7rem;
}

.contactHead {
    color: white;
    padding-top: 3rem;
    text-align: center;
}

.form {
    height: 45rem;
    border: 1px solid rgb(26, 26, 26);
    width: 35%;
    border-radius: 12px;
    background-color: white;
    padding: 3.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    color: black;
    font-weight: 500;
}

form input,
textarea {
    /* width: 50%; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 12px !important;
}



/* Question */
.question {
    margin-top: 5rem;
}

.question_hero {
    text-align: center;
}

.support {
    background-color: #6059C9;
    width: 359px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    border-radius: 16px;
}

.support_img {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.ques_content {
    margin-top: 5rem;
    color: white;
}

.support h2 {
    font-weight: 500;
}

