.left_hero_section {
    width: 50%;
    /* padding: 5px 2px 3px 2px; */
    /* text-align: center; */
}

.get_info {
    margin-left: 1rem;
}

/* Contact Form */

.contactForm {
    background: url("../../../public/formBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 895.49px;

}

.herosection_contact {
    height: 45rem;
}

.right_hero_section {
    background-color: #F5EFE0;
    height: 100%;
}

.contactHead {
    color: white;
    padding-top: 3rem;
    text-align: center;
}

.form {
    height: 45rem;
    border: 1px solid rgb(26, 26, 26);
    width: 35%;
    border-radius: 12px;
    background-color: white;
    padding: 3.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.left_hero_section {
    width: 36%;
    height: 71%;
}

form label {
    color: black;
    font-weight: 500;
}

form input,
textarea {
    /* width: 50%; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 12px !important;
}

.getTouch {
    height: 23rem;
}

/* Question */
.question {
    margin-top: 5rem;
    background-color: #FFFCF7;
    height: 42rem;
}

.question_hero {
    text-align: center;
}

.support {
    background-color: #6059C9;
    width: 359px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    border-radius: 16px;
}

.support_img {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.ques_content {
    margin-top: 5rem;
    color: white;
}

.support h2 {
    font-weight: 500;
}


/* About_Work */
.about_work {
    height: 709px;
    width: 100%;
    background-color: #F5EFE0;
}

.leftSide {
    width: 50%;
}

.work_loc {
    height: 112px;
    width: 48%;
}

.workLoc {
    height: 30rem;
}

.rightSideImg img {
    width: 80%;
}

.left_head {
    width: 481px;
    margin-top: 5rem;
}

.left_head h2 {
    font-weight: 650;
    font-size: 55px;
}

.work_loc_content {
    height: 9rem;
}

.work_loc_content h3 {
    font-weight: 650;
    font-size: 18px;
}

.work_loc_content p {
    font-weight: 500;
    font-size: 16px;
}