.bg-orange {
    color: #6059C9;
}


.navlists a {
    color: #6059C9;
}
.border-btm{
    border-bottom: #6059C9 solid 2px;
}
.user {
    background-color: #6059C9;
    height: 38px;
    width: 143px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}