.bg-orange {
    background-color: #6059C9;
}

.bg-hover-orange:hover {
    background-color: #6059C9;
}

.navlists a {
    color: #6059C9;
}

.user {
    background-color: #6059C9;
    height: 38px;
    width: 143px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}